<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>About Us</title>
<link rel="stylesheet"  th:href="@{/CSS/AboutUs.css}">
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css}">

</head>
<body>
 <a th:href="@{/}"><em class="fa-solid fa-landmark"></em>&nbsp;Home</a>

    <div class="container4">
	
	<div class="post">
	<img alt="post" th:src="@{/Image/IndianPost.jpg}" id="post" >

	</div>
	
	<div class="post-cont">
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	Department Of Posts<br> 
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	Ministry Of Communications<br>
	&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	
	Government Of India
	</div>
	</div>
	<div class="image">
	<div class="lionImg">
	<img alt="loin" th:src="@{/Image/National.jpg}" id="lion">
	</div>
	
	<div class="flagImg">
	<img alt="flag" th:src="@{/Image/Flag.jpg}" id="flag">
	</div>
	
	<div class="lotusImg">
	<img alt="lotus" th:src="@{/Image/Lotus.jpg}" id="lotus">
	</div>
	</div>
	<br><br><br>
	
	<h3>About Us</h3>
	
	<div class="aboutUs">
	The customer can sign in or sign up then the customer can deposit the money or booking the parcel and after deposit the money they will get the payment slip.And the parcel booking customer can also view the parcel status the parcel is delivered or not
	the project also have a administrative .the admin can view the deposit customers list who can deposit the money .then they also can view the parcel booking customer list who has booking the parcel.the admin has also update the customer parcel status thus the parcel is delivered or processing.
	</div>

    <div class="container5">
    Home<br> About Us<br> Forms<br> Requitments<br>
	Holidays<br> Feedback<br> Right To Information
	</div>
		
	
	<div class="container6">
	Tenders India<br> Related Sites<br> Website Policies<br>
	Contacts<br> Employee Corner<br> Sitemap<br> help
	</div>
	<br>
	<br>
	<br>
	<br>
		
	<div class="content">
	The website belongs to Department of Posts,Ministry of
	Communications,Gol.Created and Managed by Tata Consultancy Services
	Ltd.<br>
	<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Content owned and
	updated by Department of Posts,Ministry of Communications,Goverment
	of India.Last Upadted:21 Feb 2023
	</div>

</body>
</html>