<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>AdminDashboard</title>
<meta charset="UTF-8">
<script th:src="@{https://kit.fontawesome.com/853be5df50.js}"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/CSS/AdminDashBoard.css}">
<link rel="stylesheet"
	th:href='@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href='@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}'>


<!-- slick grid start -->

<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css}"
	type="text/css" />

<link rel="stylesheet" th:href="@{/SlickGrid/slick.grid.css}"
	type="text/css" />

<link rel="stylesheet"
	th:href="@{/SlickGrid/controls/slick.columnpicker.css}" type="text/css" />
<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/GridMenu.css}">

<link rel="stylesheet" th:href="@{/CSS/RecurringDepositList.css}">

<!-- slick grid end -->

<!-- slick grid start -->

<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css}"
	type="text/css" />

<link rel="stylesheet" th:href="@{/SlickGrid/slick.grid.css}"
	type="text/css" />


<link rel="stylesheet"
	th:href="@{/SlickGrid/controls/slick.columnpicker.css}" type="text/css" />
<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/GridMenu.css}">

<link rel="stylesheet" th:href="@{/CSS/RegisteredPostList.css}">
<!-- slick grid end -->


<!-- slick grid start -->

<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css}"
	type="text/css" />

<link rel="stylesheet" th:href="@{/SlickGrid/slick.grid.css}"
	type="text/css" />
<link rel="stylesheet" th:href="@{/CSS/SeniorCitizenList.css}">
<link rel="stylesheet"
	th:href="@{/SlickGrid/controls/slick.columnpicker.css}" type="text/css" />
<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/GridMenu.css}">
<link rel="stylesheet" th:href="@{/CSS/SeniorPaymentSlip.css}">

<!-- slick grid end -->

<!-- slick grid start -->

<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css}"
	type="text/css" />

<link rel="stylesheet" th:href="@{/SlickGrid/slick.grid.css}"
	type="text/css" />

<link rel="stylesheet"
	th:href="@{/SlickGrid/controls/slick.columnpicker.css}" type="text/css" />
<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/GridMenu.css}">


<link rel="stylesheet" th:href="@{/CSS/SpeedPostList.css}">
<!-- slick grid end -->


<!-- slick grid start -->

<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css}"
	type="text/css" />


<link rel="stylesheet" th:href="@{/SlickGrid/slick.grid.css}"
	type="text/css" />

<link rel="stylesheet"
	th:href="@{/SlickGrid/controls/slick.columnpicker.css}" type="text/css" />
<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/GridMenu.css}">

<link rel="stylesheet" th:href="@{/CSS/TimeDepositList.css}">

<link rel="stylesheet"
	th:href="@{/SlickGrid/controls/slick.columnpicker.css}" type="text/css" />
<link rel="stylesheet"
	th:href="@{/SlickGrid/css/smoothness/GridMenu.css}">

<!-- slick grid end -->
<style>
#delivered{
margin-top: 650px;
margin-left: 100px;
}
#processing{
margin-top: 650px;
margin-left: 100px;
}
#deliver{
margin-top:600px;
background-color: green;
margin-left: 0px;
}
#process{
margin-top:600px;
background-color: red;
}
</style>

</head>
<body>
	<div class="sidebar">
		<ul class="nav-links">
			<li><a th:href="@{#}" class="active"> <em
					class='bx bx-grid-alt'></em><span>AdminDashboard </span></a></li>

			<li id="registeredPost"> <em
					class="fa fa-users" ></em><span class="links_name">Registered
						Post List</span></li>
			<li id="speedPost"><em
					class='fa fa-users'></em><span class="links_name">Speed Post
						List</span></li>
			<li id="recurringDeposit"> <em
					class="fa fa-users"></em><span class="links_name">Recurring
						Deposit List</span></li>
			<li id="timeDeposit"><em
					class="fa fa-users"></em><span class="links_name">Time
						Deposit List</span></li>
			<li id="seniorCitizen"><em
					class="fa fa-users"></em><span class="links_name">Senior
						Citizen List</span></li>
			<li><a th:href="@{/loginAdminModel}"><em
					class="fa-sharp fa-solid fa-backward-fast">&nbsp;&nbsp;</em><span
					class="links_name">Back</span></a></li>
			<li><a th:href="@{/}" onclick="AlertMessage()"> <em
					class='fa fa-sign-out'></em><span class="links_name">Logout</span></a>
		 </li>
		 </ul>
	     </div>
	      <section class="home-section">

		   <nav>
		   <div class="logo">
				<img alt="logoImage" th:src="@{/Image/PostOffice.jpg}" id="logoImage">
		   </div>

		   <div class="title">
		   <h3>
				Post Office Management
		   </h3>
		   </div>

		   <div class="admin">
				<img alt="admin" src="/Image/Admin1.jpg" id="admin">
		   </div>
		   </nav>

		   <div id="main" class="counting">
		   <div class="clearfix"></div>
		   <div class="col-div-3">
				<div class="box">
				<span><a th:href="@{/listOfRegisterPostUser}">RegisteredPost</a></span>
				<a th:href="@{/listOfRegisterPostUser}">
				<p th:text="${registered_count}"></p></a> &emsp;&emsp;&emsp;
				<em class="fa-sharp fa-regular fa-paste"></em>
			</div>
			</div>
			<div class="col-div-3">
			<div class="box">
				<span><a th:href="@{/listOfSpeedPostUser}">Speed Post</a></span> 
				<a th:href="@{/listOfSpeedPostUser}">
				<p th:text="${speed_count}"></p></a>&emsp;&emsp;&emsp;&emsp;
				<em class="fa-solid fa-paste"></em>
			</div>
			</div>
			<div class="col-div-3">
			<div class="box">
				<span><a th:href="@{/listOfRecurringDepositUser}">RecurringDeposit</a></span>
				<a th:href="@{/listOfRecurringDepositUser}">
				<p th:text="${recurring_count}"></p></a> &emsp;&emsp;&emsp;&emsp;
				<em class="fa-solid fa-list-ul"></em>

			</div>
			</div>
			<div class="col-div-3">
				<div class="box">
				<span><a th:href="@{listOfTimeDepositUser}">Time Deposit</a></span>
				<a th:href="@{listOfTimeDepositUser}">
				<p th:text="${time_count}"></p></a> &emsp;&emsp;&emsp;&emsp;
				<em class="fa-solid fa-clock"></em>

			</div>
			</div>
			<div class="col-div-3">
				<div class="box">
					<span><a th:href="@{/listOfSeniorCitizenDepositUser}">Senior Citizen</a></span> 
					<a th:href="@{/listOfSeniorCitizenDepositUser}">
					<p th:text="${senior_count}"></p></a> &emsp;&emsp;&emsp;&emsp;<em
						class="fa-solid fa-person-circle-check"></em>

	       </div>
	       </div>

	       </div>
	       </section>


	<script>
		function AlertMessage() {
			if (confirm("Are you sure you want to logout?")) {
				window.location = '/logout';
			} else {
				return false;
			}
			return true;
		}
	</script>

	<div style="position: relative; margin-top: -800px; margin-left: 260px;">

	<div style="width: 1199px;  position: absolute; z-index: 20000;">

	<div id="myGrid1" style="width: 100%; height: 500px; display: none;"></div>

	</div>

	</div>
	<input type="text" id="recur" th:value="${recurringDepositList}" style="display: none;">
	<div th:attr="data-myvar=${RecurringDepositList}" id="myDiv"></div>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/firebugx.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.checkboxselectcolumn.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangedecorator.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangeselector.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.autotooltips.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellcopymanager.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.rowselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/slick.formatters.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.columnpicker.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/slick.editors.js}"></script>

	<script th:src="@{/SlickGrid/Interaction.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.pager.js}"></script>

	<script type="text/javascript" th:src="@{/Javascript/RecurringDeposit.js}"></script>
	<script th:inline="javascript">
		recurringDeposit();
	</script>




	    <div style="position: relative; margin-top: -800px; margin-left: 260px;">

		<div style="width: 1199px;  position: absolute; z-index: 20000;">

		<div id="myGrid2" style="width: 100%; height: 600px; display: none;"></div>

		</div>
		<form th:action="@{/registerCheck}" method="get"
			th:object="${registeredPost}" id="register" style="display: none;  position: absolute;">
			<button id="delivered" type="submit">Delivered</button>
			<button id="processing" th:formaction="@{/registerProcess}"
				type="submit">Processing</button>
			<input type="text" id="leaveIdList" th:field="*{trackingNo}"
				style="display: none;">
		</form>

	</div>
	<input type="text" id="regAction" th:value="${registeredPostUserList}">
	<div th:attr="data-myvar=${registeredPostUserList}" id="myDiv"></div>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>

	<script th:src="@{/SlickGrid/lib/firebugx.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangedecorator.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.checkboxselectcolumn.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.autotooltips.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangeselector.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellcopymanager.js}"></script>

	<script th:src="@{/SlickGrid/slick.formatters.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.rowselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.columnpicker.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>

	<script th:src="@{/SlickGrid/slick.editors.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.pager.js}"></script>

	<script th:src="@{/SlickGrid/Interaction.js}"></script>

	<script type="text/javascript" th:src="@{/JavaScript/CheckBox.js}"></script>


	<script type="text/javascript"
		th:src="@{/JavaScript/RegisteredPostAction.js}"></script>
	<script type="text/javascript">
		registeredPostAction();
	</script>



	<div style="position: relative; margin-top: -70px; margin-left: 260px;">

		<div style="width:1199px;  position: absolute; z-index: 20000;">

			<div id="myGrid3" style="width: 100%; height: 500px; display: none;"></div>

		</div>
		<form th:action="@{/speedReach}" method="get" th:object="${speedPost}" id="speed" style="display: none;  position: absolute;">
		
			<button id="deliver" type="submit">Delivered</button>
			<button id="process" th:formaction="@{/speedProcess}"
				type="submit">Processing</button>
			<input type="text" id="trackingNoList" th:field="*{trackingNo}"
				style="display: none">
		</form>

	</div>
	<input type="text" id="speedAction" th:value="${speedPostUserList}">
	<div th:attr="data-myvar=${speedPostUserList}" id="myDiv"></div>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/firebugx.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangeselector.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.checkboxselectcolumn.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.autotooltips.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangedecorator.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.columnpicker.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellcopymanager.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.rowselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>

	<script th:src="@{/SlickGrid/slick.formatters.js}"></script>

	<script th:src="@{/SlickGrid/slick.editors.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/Interaction.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.pager.js}"></script>


	<script type="text/javascript" th:src="@{/JavaScript/SpeedPostCheckBox.js}"></script>
	

	<script type="text/javascript"
		th:src="@{/JavaScript/SpeedPostAction.js}"></script>
	<script type="text/javascript">
		speedPostAction();
	</script>




	<div style="position: relative; margin-top:-50px; margin-left: 260px;">

		<div style="width:1199px;  position: absolute; z-index: 20000;">

			<div id="myGrid4" style="width: 100%; height: 500px; display: none;"></div>

		</div>

	</div>
	<input type="text" id="senior" th:value="${SeniorUsersList}"
		style="display: none;">

	<div th:attr="data-myvar=${SeniorUsersList}" id="myDiv"></div>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.checkboxselectcolumn.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangedecorator.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangeselector.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.autotooltips.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellcopymanager.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.columnpicker.js}"></script>

	<script th:src="@{/SlickGrid/slick.formatters.js}"></script>

	<script th:src="@{/SlickGrid/slick.editors.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.rowselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.pager.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/Interaction.js}"></script>


	<script type="text/javascript" th:src="@{/Javascript/SeniorCitizen.js}"></script>
	<script th:inline="javascript">
		seniorDeposit();
	</script>



	<div style="position: relative; margin-top: -30px; margin-left: 260px;">

		<div style="width:1199px;  position: absolute; z-index: 20000;">

			<div id="myGrid5" style="width: 100%; height: 500px; display: none;"></div>

		</div>

	</div>
	<input type="text" id="time" th:value="${timeDepositUsersList}"
		style="display: none;">

	<div th:attr="data-myvar=${timeDepositUsersList}" id="myDiv"></div>



	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/firebugx.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-1.7.min.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery-ui-1.8.16.custom.min.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>



	<script th:src="@{/SlickGrid/slick.core.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.checkboxselectcolumn.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.autotooltips.js}"></script>

	<script th:src="@{/SlickGrid/lib/jquery.event.drag-2.2.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangeselector.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellcopymanager.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellrangedecorator.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.rowselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.columnpicker.js}"></script>

	<script th:src="@{/SlickGrid/slick.editors.js}"></script>

	<script th:src="@{/SlickGrid/plugins/slick.cellselectionmodel.js}"></script>

	<script th:src="@{/SlickGrid/slick.formatters.js}"></script>

	<script th:src="@{/SlickGrid/controls/slick.pager.js}"></script>

	<script th:src="@{/SlickGrid/slick.dataview.js}"></script>

	<script th:src="@{/SlickGrid/Interaction.js}"></script>

	<script th:src="@{/SlickGrid/slick.grid.js}"></script>


	<script type="text/javascript" th:src="@{/Javascript/TimeDeposit.js}"></script>


	<script th:inline="javascript">
		timeDeposit();
	</script>

<script type="text/javascript" th:src="@{/Javascript/AdminDasBoard.js}"></script>




</body>
</html>