<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Recurring Deposit</title>

<link rel="stylesheet" th:href="@{/CSS/Recurring.css}">

</head>
<body>
<div class="menu-bar">
<ul>
<ol><a th:href="@{/depositDashBoard}"><em class="fa-sharp fa-solid fa-backward-fast">&nbsp;&nbsp;</em>&emsp;&emsp;&emsp;Back</a></ol>
</ul>
<ul>
<ol><a th:href="@{/}"><em class="fa-solid fa-landmark"></em>&emsp;&emsp;&emsp;Home</a></ol>
</ul>
<ul>   
<ol class="active"><a th:href="@{/recurring}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;Recurring Deposit</a></ol>
<ol><a th:href="@{/recurringSlip}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;Recurring Slip</a></ol>

<ol><a th:href="@{/timeDepositModel}"><em class="fa-solid fa-comments-dollar"></em><br>&nbsp;Time Deposit</a></ol>
<ol><a th:href="@{/seniorCitizenModel}"><em class="fa-solid fa-comments-dollar"></em>&nbsp;SeniorCitizen Deposit</a></ol>
<br><br><br><br><br>
          
<ol><a th:href="@{/logout}"><em class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i><br>Log Out</a></ol>             
                
</ul>
</div><br>
<div class="recurring">
    
</div>
<div class="container">
<br><br>
<p>The 5 year Post Office Recurring Deposit (PORD) scheme allows you to save on a regular monthly basis for 5 years<p>
<p>These deposits earn interest as per applicable rate compounded on a quarterly basis</p>
<p>The interest rate on Post Office RD account ranges from 5.8% depending on the tenure of the deposit.<p>
<p>A recurring deposit is considered the most comfortable investment tool to earn profitable returns at maturity.<p>
<p> there is no limit for maximum deposit.</p>
</div>
                    
<h1> Welcome To Recurring Deposit!!!</h1>
     
<div class="wrapper">

<form id=recurringDeposit th:action="@{/recurringDeposit}" method="get" th:object="${recurring}" align="center">
      

	 <br><br>
	 <div class="form-control"><label>User Name</label>
     <input type="text" name="deposituserName" id="UserName" th:value="${session.UserName}" readonly="readonly" />
	 </div>
		
	 <div class="form-control"><label>Mobile Number</label>
	 <input type="tel" name="depositUserMobileNo" id="MobileNumber" placeholder="Enter Mobile Number" th:value="${session.mobileNo}" required />
	 </div>
		
	 <div class="form-control"><label>Account Number</label>
	 <input type="tel" name="userAccountNumber" id="AccountNumber" readonly="readonly" th:value="${session.AccountNo}" placeholder="Enter Account Number" required />
	 </div>
		
	 <div class="form-control"><label>Principle Amount</label>
	 <input type="text" name="depositAmount"  id="PrincipleAmount" placeholder="Enter Principle Amount" onkeyup="amountValidation1()" pattern="^[1-9]\d*(\.\d+)?$" title="Amount Not Contain Zero ANd Negative Values" required />
     <div class="principleAmount">
     <span id="amount-validation"></span>
     </div>
	 </div>
		
	 <div class="form-control"><label>Number Of Months</label>
	 <input type="number" name="noOfMonths" id="NumberOfMonths"  placeholder="Enter Number Of Months" onkeyup="monthValidation()" pattern="/^[+]?[1-9]\d*(\.\d+)?$" title="Month Not Contain Zero ANd Negative Values" required />
     <div class="month">
     <span id="month-validation"></span>
     </div>
	 </div>
	 
	 <div class="form-control"><label>No Of Months To Be Paid</label>
	 <input type="text" name=noOfMonthsToBePaid id="month" placeholder="Number Of Months To Be Paid" th:value="${session.Count}" month to be paid>
	 </div>

     <input type="checkbox" required><button onclick="return calculate()">Calculate</button><br><br>      
      
     <div class="form-control"><label>Simple Interest</label>
	 <input type="text" name="interest" id="interest" placeholder="Interest" required />
     </div>
     
     <div class="form-control"><label>Maturity Amount</label>
	 <input type="number" name="maturityAMount" id="maturityAmount" placeholder="Maturity Amount"  required />   
	 </div>
     
     <div class="form-control"><label>Total Amount</label>
	 <input  type="text" name="totalAmount" id="totalAmount" placeholder="Total Amount" required />
     </div>
           
     Are You Ready To Pay?&emsp;<input type="checkbox">&emsp;<button type="submit">Payment</button><br><br>
     <button><a th:href="@{/depositDashBoard}">Back</a></button>
                 
     </form>
     </div>
     <script type= "text/Javascript" th:src= "@{/Javascript/DepositRegexValidation.js}"></script>
    
      
     <script>
     count();
function count(){
	var month=document.getElementById("NumberOfMonths").Value;
	var eMonth="[[${count}]]";
	console.log(eMonth);
}

function calculate(){
 var a=parseInt(document.getElementById("PrincipleAmount").value);
 var b=parseInt(document.getElementById("NumberOfMonths").value);
 var c= rateOfInterest = 5.8;

 if (a < 0) {
 
	}
	
else{
	var Interest=a * b * (b + 1) * c / 2400;
	document.getElementById("interest").value=Interest;
	
	var maturityAmount=a*b;
	document.getElementById("maturityAmount").value=maturityAmount;
     
	var totalAmount=   Interest+maturityAmount;
	document.getElementById("totalAmount").value=totalAmount;
	return false;
	
	}

 return false;

}
</script>     

</body>
</html>