<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Time Payment Slip</title>
<script th:src="@{/Javascript/PaymentSlip.js}"></script>
<link rel="stylesheet" th:href="@{/CSS/TimeDepositPaymentSlip.css}">
</head>
<body>


<div id="contentToPrint">
<form th:action="@{/timeSlip}" class="TimeDepositPaymentSlip" method="get" th:object="${timeSlip}">

<div class="container">
<div class="stamp">
<img alt="" th:src="@{/Image/IndianPost.jpg}" id="post">
</div>
<h2>Pay Slip</h2>
                    
                            <label>Name</label>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" name="name" id="userName" readonly="readonly" th:value="${session.UserName}" >
                            <br>
                            
                            <label>Mobile Number</label>
                            &emsp;&emsp;&emsp;<input type="text" name="phoneNo" id="mobileNumber" th:value="${session.mobileNo}">
                            <br>
                            
                            <label>Account Number</label>
                            &nbsp;&nbsp;&emsp;&emsp;<input type="text" name="accountNo" id="accountNumber" th:value="${session.accountNo}">
                            <br>
                            
                            <label>Amount</label>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" name="amount" id="Amount" th:value="${session.depositAmount}">
                            <br>
                            
                            <label>Periods To Deposit</label>
                            &emsp;&emsp;<input type="text" name="periods" id="Periods" readonly="readonly" th:value="${session.period}">
                            <br>
                            
                            <label>Interest</label>
                            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<input type="text" name="simpleInterest" id="interest" th:value="${session.interest}">
                            <br>
                            
                            <label>Maturity Amount</label>
                            &emsp;&emsp;&nbsp;<input type="text" name="maturity" id="maturityAmount" th:value="${session.maturity}">
                            <br>
                            
                            <label>Total Amount</label>
                            &emsp;&emsp;&emsp;&nbsp;&nbsp;<input type="text" name="total" id="totalAmount" th:value="${session.total}">
                            <br>
                            
                            <label>Deposit Date</label>
                            &emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<input type="text" name="depositDate" id="depositDAte" th:value="${session.date}">
                            <br>
                            
                            <label>Return Date</label>
                             &emsp;&emsp;&emsp;&emsp;&nbsp;<input type="text" name="completedate" id="returnDate" th:value="${session.returnDate}">
                            <br>
                            </div>
                </form>
                 </div>
<div class="form-actions top">
                            <div class="row" style="margin-left: 260PX;">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" th:onclick="location.href='/depositDashBoard'">Back</button><button class="btnblue" value="button" onclick="printContent('contentToPrint')" style="width: 100px;">
                                        download
                                    </button>
                                  
                                </div>
                            </div>
                            
                        </div>
                         
                        
                        
 <script >
 function printContent(el) {
     var restorepage = document.body.innerHTML;
     var printcontent = document.getElementById(el).innerHTML;
     document.body.innerHTML = printcontent;
     window.print();
     document.body.innerHTML = restorepage;
 }
 </script>
    
    

</body>
</html>