<!DOCTYPE html>
<html lang="en" xmlns:th="http://WWW.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Time Deposit</title>
<script th:src="@{/Javascript/depositValid.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/TimeDeposit.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css}">

</head>
<body>

 	  <div class="menu-bar" id="TimeDeposit">
 	  <ul>
      <ol><a th:href="@{/depositDashBoard}" class="TimeDeposit"><em class="fa-sharp fa-solid fa-backward-fast">&nbsp;&nbsp;</em>Back</a></ol>
      </ul>
 	  <ul>
     <ol><a th:href="@{/}" class="TimeDeposit"><em class="fa-solid fa-landmark"></em>Home</a></ol>
     
     </ul>
      <ul>
      <ol><a th:href="@{/recurring}" class="TimeDeposit"><em class="fa-solid fa-comments-dollar"></em>&nbsp;Recurring Deposit</a> 
      </ol>
      <ol class="active"><a th:href="@{/timeDepositModel}"><em class="fa-solid fa-comments-dollar"></em><br>&nbsp;Time Deposit</a></ol>
      <ol><a th:href="@{/seniorCitizenModel}" class="TimeDeposit"><em class="fa-solid fa-comments-dollar"></em>&nbsp;SeniorCitizen Deposit</a>
      </ol><br><br><br><br><br>
        
      <ol><a th:href="@{/logout}" class="TimeDeposit"><em class="fa-sharp fa-solid fa-arrow-right-from-bracket"></em><br>Log Out</a></ol>      
      </ul>
      </div>
	  <div class="time">
	 
	  
	  </div>
	 <div class="container"> <br>
	 <p>Deposits under post office time deposit schemes can have tenure of 1, 2, 3 or 5 years.</p>
     <p>deposit account with fixed maturity and interest rate.<p>
     <p>It usually prevents the premature withdrawal of the deposit. Certificate of deposit (CD) is one of the common examples.<p>
     <p>Post Office Time Deposit Scheme provides guaranteed return on investment.</p>
     <p>Fixed rates won't let you earn more.
     <p>Rates can be lower.</p>
	  </div>
      <h1>Welcome To Time Deposit !!!</h1>
      <div class="main">
      <div class="register">

      <form id="timeDeposit" th:action="@{/timeDeposit}"  method="get" th:object="${timeDeposit}" align="center">


      <br>
    
     &nbsp; &nbsp; &nbsp;  <label>User Name:</label>
     <br>
     &nbsp; &nbsp; &nbsp;  <input type="text" name="name" id="UserName" th:value="${session.UserName}" readonly="readonly" placeholder="UserName" />
     <br><br>

                   
     &nbsp; &nbsp; &nbsp;<label>Mobile Number:</label>
     <br>
     &nbsp; &nbsp; &nbsp;<input type="tel" name="phoneNo"  id="MobileNumber"  th:value="${session.mobileNo}" placeholder="MobileNumber" required /><br><br>
    
      &nbsp; &nbsp; &nbsp; <label>Account Number:</label>
      <br>
      &nbsp; &nbsp; &nbsp;<input type="text" name="AccountNo" id="AccountNumber" placeholder="AccountNumber" readonly="readonly" th:value="${session.AccountNo}" required />
      <br><br>

                  
      &nbsp; &nbsp; &nbsp;<label>Principle Amount:</label>
      <br>
      &nbsp; &nbsp; &nbsp;<input type="text" name="Amount" id="PrincipleAmount" placeholder="PrincipleAmount" onkeyup="amountValidation1()" th:fields="*{amount}" pattern="^[1-9]\d*(\.\d+)?$" title="Amount Not Contain Zero ANd Negative Values" required />
      <div class="amt">
      <span id="amount-validation"></span>
      <br></div>
    
    
      &nbsp; &nbsp; &nbsp; <div><label>
      Period to Deposit:</label>
    
      <select name="Periods" id="Periods" placeholder="Periods" th:fields="*{periods}" required/>
      <option value=1>1 Year</option>
      <option value=2>2 Year</option>
      <option value=3>3 Year</option>
      <option value=5>5 Year</option>
          
      </select>
      </div><br>
       <input type="checkbox" required><button onclick="return Timecalculate()" >Calculate</button><br><br>
         
      
      &nbsp; &nbsp; &nbsp;<label>Interest:</label>
      <br>
      &nbsp; &nbsp; &nbsp;<input type="text" name="SimpleInterest" id="simpleInterest" placeholder="Simple Interest"  th:fields="*{simpleInterest}" required/>
      <br><br>
      
      &nbsp; &nbsp; &nbsp;<label>Maturity Amount:</label>
      <br>
      &nbsp; &nbsp; &nbsp;<input type="text" name="maturity" id="maturityAmount" placeholder="Maturity Amount" th:fields="*{maturity}" required/>
      <br><br>
      
      &nbsp; &nbsp; &nbsp;<label>Total Amount:</label>
      <br>
      &nbsp; &nbsp; &nbsp;<input type="text" name="total" id="totalAmount" placeholder="Total AMount"  th:fields="*{total}" required/>
      <br><br>
                  
      Are You Ready To Pay?&emsp;<input type="checkbox"> <button type="submit">Payment</button><br><br>
      <button><a th:href="@{/depositDashBoard}">Back</a></button>
               
    
      </form>


     
     <script type= "text/Javascript" th:src= "@{/Javascript/DepositRegexValidation.js}"></script>

<script>
function Timecalculate(){
	var a=parseInt(document.getElementById("PrincipleAmount").value);
	var b=parseInt(document.getElementById("Periods").value);
	var rate1=7.10;
	var rate2=7.20;
	var rate3=7.40;
	var rate4=7.90;
	
	if(a<0){
		alert("The Principle Amount Could Not Less Than Zero");
	}
	
	 if(b==1){
		
		var simpleInterest=(a*rate1*b)/100;
    	document.getElementById("simpleInterest").value=simpleInterest;
		
		var maturityAmount=a*1*12;
		document.getElementById("maturityAmount").value=maturityAmount;
		
		var totalAmount=simpleInterest+maturityAmount;
		document.getElementById("totalAmount").value=totalAmount;
		
		
}
 if(b==2){
		var simpleInterest=(a*rate2*b)/100;
    	document.getElementById("simpleInterest").value=simpleInterest;
		
		
		var maturityAmount=a*2*12;
		document.getElementById("maturityAmount").value=maturityAmount;
		
		var totalAmount=simpleInterest+maturityAmount;
		document.getElementById("totalAmount").value=totalAmount;
		
	
}
	  if(b==3){
		var simpleInterest=(a*rate3*b)/100;
    	document.getElementById("simpleInterest").value=simpleInterest;
		
		
		var maturityAmount=a*3*12;
		document.getElementById("maturityAmount").value=maturityAmount;
		
		var totalAmount=simpleInterest+maturityAmount;
		document.getElementById("totalAmount").value=totalAmount;
}
if(b==5){
	
		var simpleInterest=(a*rate4*b)/100;
    	document.getElementById("simpleInterest").value=simpleInterest;
		
		
		var maturityAmount=a*5*12;
		document.getElementById("maturityAmount").value=maturityAmount;
		
		var totalAmount=simpleInterest+maturityAmount;
		document.getElementById("totalAmount").value=totalAmount;
		return false;
	}
	
	return false;
	
}
</script>

</body>
</html>